@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,500;1,700&display=swap');

*{
    padding: 0;
    border: 0;
}

body{
    background-color: hsl(217, 54%, 11%);
}

main{
    display: flex;
    justify-content: center;
}

#img_nft{
    width: 350px;
    padding: 20px;
    border-radius: 30px;
}

#container {
    height: 700px;
    width: 400px;
    background-color: hsl(216, 50%, 16%); 
    border-radius: 15px;
}

h2{
    color: white;
    font-family: "Outfit", sans-serif;
    padding-bottom: 10px;
}

p{
    padding-bottom: 20px;
}

#text_card{
    color: hsl(215, 51%, 70%);
    padding: 30px;
    font-family: "Outfit", sans-serif;
}

.container{
    background-color: black;
}

.child{
    display: flex;
    align-items: center;
}